body{
    font-family:'Tiro Devanagari Hindi', serif;
    background: orange  ;
}
.header_div{
    background: olive;
    color: red;
}
.header_div p{
    color: aliceblue;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main_div button{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: aqua;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    line-height: 3;
    text-align: center;
    background-color: antiquewhite;
    text-shadow: 5px 5px 5px browns;
}
